
<div class="container">
    <div class="row">
    
      <nav class="navbar navbar-default">
        <div class="navbar-header ">
            <p class="nav navbar-brand">Mongo Scraper</p>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Saved Article</a></li>
                <button type="button" class="btn btn-default navbar-btn">Scrape New Articles</button>
            </ul>
        </div>
      </nav>
    
    </div>

    <div class="row">
    
      <div class="jumbotron">
        <h1>Mongo Scraper</h1>
        <p>Echo</p>
      </div>

    </div>
    
    <div class="row">
        {{>header}} 
    </div>



</div>

  